#buttons {
  display: flex
}

#movie-header-container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: min-content auto;
}

#poster {
  margin-right: 12px;
  border-radius: var(--card-border-radius);
  max-width: 210px;
  min-width: 210px;
  grid-row-end: span 3;
}

#youtube-img {
  background: transparent;
  height: 32px;
}

.subtitle {
  display: flex;
}

.subtitle * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle-label {
  margin-right: 5px;
}
