.rating-div {
  display: grid;
  grid-template-columns: min-content auto min-content min-content min-content;
  align-items: center;
}

.rating-div h2 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.rating-div input[type=button] {
  margin-bottom: 4px;
  margin-top: 4px;
}

.rating-div input[type=text] {
  margin-bottom: 4px;
  margin-top: 4px;
}

#add-rating-text {
  grid-column-start: 1;
  grid-column-end: 3;
}
