.aired.watched {
  color: green
}

.aired.skipped {
  color: orange
}

.aired.unwatched {
  color: red
}

.unaired {
  color: yellow
}

#watch-buttons {
  display: flex
}

#show-header-container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: min-content auto;
}

#poster {
  margin-right: 12px;
  border-radius: var(--card-border-radius);
  min-width: 210px;
  grid-row-end: span 3;
}

#youtube-img {
  background: transparent;
  height: 32px;
}

.watched_button {
  background: transparent;
  filter: invert(80%);
  height: 20px;
  padding: 0px;
}

.watched_button.active {
  filter: unset;
}

@media (prefers-color-scheme: dark) {
  .watched_button {
    filter: unset;
  }
  .watched_button.active {
    filter: invert(80%);
  }
}

.episode_holder {
  display: flex;
}

.season_holder {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.season_holder * {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.season_buttons {
  display: flex;
}

.secondary-watch-options {
  display: flex;
  gap: 30px;
}

#notes-content textarea {
  font-family: monospace;
  /* my monospace font was smaller than normal */
  font-size: 1.0rem;
}
